<!DOCTYPE html>
<html lang="ko"
	  layout:decorate="~{common/layout/defaultLayout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>사용자 관리</title>

	<!--/*Inline Custom CSS Library import */-->
	<th:block layout:fragment="contentCss">
	</th:block>

	<!--/*Inline Custom JS Library import */-->
	<th:block layout:fragment="contentScript">
	</th:block>

	<!--/*Inline Custom CSS Code*/-->
	<style rel="stylesheet" th:inline="css">
	</style>

	<!--/*Inline Custom JS Code*/-->
	<script type="text/javascript">
	</script>
	<script src="/js/management/user.js"></script>
</head>
<body>
<!-- Main content -->
<div layout:fragment="content">
	<section class="content">
		<div class="container-fluid">
			<!-- /.row -->
			<div class="card">
				<div class="card-body">
					<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
						<div class="row">
							<div class="col-sm-12 col-md-8">
								<label for="searchKeyword">검색조건</label>
								<input type="text" id="searchKeyword" class="form-control form-control-sm">
							</div>
							<div class="col-sm-12 col-md-4">
								<div class="dt-buttons btn-group flex-wrap" style="float:right;">
									<button id="appendBtn" class="btn btn-secondary" type="button"><span>추가</span></button>
									<button id="updateBtn" class="btn btn-secondary" type="button"><span>저장</span></button>
									<button id="deleteBtn" class="btn btn-secondary" type="button"><span>삭제</span></button>
									<button id="readBtn" class="btn btn-secondary" type="button"><span>조회</span></button>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-12">
								<div id="grid"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
</div>
<!-- /.content -->
</body>
</html>